[submodule "Codebase/Drivers/STM32L4xx_HAL_Driver"]
	path = Codebase/Drivers/STM32L4xx_HAL_Driver
	url = https://github.com/zhanwang-sky/STM32L4xx_HAL_Driver.git
[submodule "Codebase/FreeRTOS"]
	path = Codebase/FreeRTOS
	url = https://github.com/zhanwang-sky/FreeRTOS.git
[submodule "Codebase/Drivers/CMSIS"]
	path = Codebase/Drivers/CMSIS
	url = https://github.com/zhanwang-sky/CMSIS.git
[submodule "Codebase/Application/BOSCH/BMP280_driver"]
	path = Codebase/Application/BOSCH/BMP280_driver
	url = https://github.com/zhanwang-sky/BMP280_driver.git
[submodule "Codebase/Application/BOSCH/BMA2x2_driver"]
	path = Codebase/Application/BOSCH/BMA2x2_driver
	url = https://github.com/zhanwang-sky/BMA2x2_driver.git
